# local package
-e .

# external requirements
geemap == 0.8.16
rioxarray
scikit-image
pystac_client
numpy == 1.20.3
pandas == 1.2.4
jupyter == 1.0.0
earthengine-api == 0.1.265
cookiecutter == 1.7.3
branca == 0.3.1 # FIX for leaflet maps on github pages; otherwise maps are not shown